<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TodoApp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link href="/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
    <header class="text-center">
     <h1>TodoApp</h1>   
     <br>
    </header>